In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [ ]:
#El conjunto de datos se encuentra aquí. Tienes dos tareas principales. La primera tarea es utilizar el conjunto de datos del abulón 
#para predecir la edad del abulón a partir de mediciones físicas utilizando KNN. Este es un problema de regresión. Es posible que desees 
#buscar en Google "KNN regression scikit-learn". La segunda tarea es utilizar el conjunto de datos de abulón para predecir el sexo a partir 
#de sus características. Esta debería ser una tarea más fácil, ya que ya hemos repasado la clasificación KNN usando Python.

In [5]:
df = pd.read_csv("/content/drive/MyDrive/CODING_DOJO/CÓDIGO/WEEK 5/abalone.data", on_bad_lines='skip')
df.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [6]:
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings' ]
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.350     0.265  ...          0.0485         0.070      7
1   F   0.530     0.420  ...          0.1415         0.210      9
2   M   0.440     0.365  ...          0.1140         0.155     10
3   I   0.330     0.255  ...          0.0395         0.055      7
4   I   0.425     0.300  ...          0.0775         0.120      8

[5 rows x 9 columns]

In [7]:
X = df[['Length', 
        'Diameter', 
        'Height', 
        'Whole weight', 
        'Shucked weight', 
        'Viscera weight', 
        'Shell weight']]
y = df['Rings']

In [9]:
sc = StandardScaler()
sc.fit(X)
X = sc.transform(X)
knn = KNeighborsRegressor()
knn.fit(X,y)

KNeighborsRegressor()

In [10]:
edad = knn.predict(X)

In [11]:
knn.score(X,y)

0.6582492859136977

In [32]:
X = df[['Length', 
        'Diameter', 
        'Height', 
        'Whole weight', 
        'Shucked weight', 
        'Viscera weight', 
        'Shell weight', 
        'Rings']]
y = df['Sex']
sc = StandardScaler()
sc.fit(X)
X = sc.transform(X)

In [33]:
y.value_counts()

M    1527
I    1342
F    1307
Name: Sex, dtype: int64

In [13]:
knn = KNeighborsClassifier()
knn.fit(X,y)

KNeighborsClassifier()

In [14]:
knn.score(X,y)

0.6795977011494253

In [15]:
knn.predict(X)

array(['I', 'F', 'M', ..., 'M', 'F', 'M'], dtype=object)

In [16]:
X = df[['Length', 
        'Diameter', 
        'Height', 
        'Whole weight', 
        'Shucked weight', 
        'Viscera weight', 
        'Shell weight']]
y = df['Rings']

In [17]:
rl = LinearRegression()
rl.fit(X,y)

LinearRegression()

In [18]:
rl.score(X,y)

0.5282432555640287

In [19]:
mean_squared_error(y, rl.predict(X))

4.901136499763453

In [20]:
#entrenamiento de regresión lineal 
Xt, Xtest, yt, ytest = train_test_split(X,y)
lr = LinearRegression()
lr.fit(Xt, yt)

LinearRegression()

In [21]:
lr.score(Xt, yt)

0.5180774303071911

In [22]:
lr.score(Xtest, ytest)

0.5566638437697942

In [23]:
#Sin entrenamiento knn
sc = StandardScaler()
sc.fit(X)

result = sc.transform(X)
knn = KNeighborsRegressor()
knn.fit(result,y)

KNeighborsRegressor()

In [24]:
knn.score(result,y)

0.6582492859136977

In [25]:
knn.predict(X)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([ 8.4, 12. , 12.4, ...,  8.4,  9.6, 11. ])

In [27]:
#Entrenamiento knn
Xt, xtest, yt, ytest = train_test_split(X, y)
sc = StandardScaler()
sc.fit(Xt)
Xt = sc.transform(Xt)
xtest = sc.transform(xtest)
knn = KNeighborsRegressor()
knn.fit(Xt,yt)

KNeighborsRegressor()

In [28]:
knn.score(Xt, yt)

0.658462092915127

In [29]:
knn.score(xtest, ytest)

0.45453103456347954

In [30]:
knn.predict(X)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([ 8.4, 11.8, 12.8, ..., 10.6,  9.4, 11.2])

In [ ]:
#¿Podrías haber utilizado la regresión lineal y la regresión KNN para resolver el problema de regresión? 
#-SI
#¿Podrías haber utilizado la regresión lineal para el problema de clasificación?
#-No, no se puede utilizar en modelos de clasificación