In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import pandas as pd
url='https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'
df = pd.read_csv(url)
df.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [13]:
df.shape

(4176, 9)

In [14]:
df.columns =['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [15]:
import numpy as np

In [17]:
df.apply(lambda row: row.Rings + 1.5, axis=1)
df['Age'] = df.apply(lambda row: row.Rings + 1.5, axis=1)#creaci√≥n de columna de edad
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Age
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,8.5
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,10.5
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,11.5
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,8.5
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,9.5

In [18]:
df.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
Age               0
dtype: int64

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [20]:
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import LabelEncoder

La primera tarea es usar el conjunto de datos de abalon para predecir la edad de abalone seg√∫n las medidas corporales usando KNN.

In [21]:
dfmed = df.loc[:, ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']]
dfmed.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
3,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055
4,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120

In [22]:
medic = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
dfmed.loc[:, medic].head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
3,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055
4,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120

In [24]:
X = dfmed.loc[:, medic].to_numpy()

In [25]:
X.shape

(4176, 7)

In [27]:
y = df.loc[:, 'Age'].values

In [28]:
y.shape

(4176,)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)

In [30]:
pipe = make_pipeline(StandardScaler(), KNeighborsRegressor())
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsregressor', KNeighborsRegressor())])

In [31]:
pipe.score(X_train, y_train)

0.6555512962081227

In [32]:
pipe.score(X_test, y_test)

0.4714544304886764

 La segunda tarea es utilizar el conjunto de datos de abalone para predecir el sexo de acuerdo a sus caracter√≠sticas.

In [33]:
dfcarac = df.loc[:, ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings', 'Age']]
dfcarac.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Age
0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,8.5
1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,10.5
2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,11.5
3,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,8.5
4,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,9.5

In [35]:
caracteristicas = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings', 'Age']
dfcarac.loc[:, caracteristicas].head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Age
0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,8.5
1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,10.5
2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,11.5
3,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,8.5
4,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,9.5

In [37]:
X = dfcarac.loc[:, caracteristicas].to_numpy()

In [38]:
X.shape

(4176, 9)

In [40]:
le = LabelEncoder()
y = le.fit_transform(df.loc[:, 'Sex'].values)

In [41]:
y.shape

(4176,)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)

In [43]:
pipe = make_pipeline(StandardScaler(), KNeighborsClassifier())
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsclassifier', KNeighborsClassifier())])

In [44]:
pipe.score(X_train, y_train)

0.6819923371647509

In [45]:
pipe.score(X_test, y_test)

0.539272030651341

¬øPor qu√© querr√≠as ocupar una tuber√≠a para KNN?
Porque hay que escalar la data 
¬øPara qu√© otros modelos o tareas ser√≠a √∫til usar una tuber√≠a?
Para preprocesar la data siempre que se usan escalares